
.modal {
    overflow: auto; /* Permet de scroller si le contenu est trop grand */
    background-color: rgba(0,0,0,0.4); 
    
  }
  

  .modal-content {
    margin: 15% auto; /* Centrez la modal verticalement et horizontalement */
    width: 70%;
  }
  
 a{
  text-decoration: none;
  
 }
 
  
#user{
    display: none;
}
#team{
    display: none;
}
#task{
    display: none;
}

#userCard{
  display: none;
}
#taskCard{
  display: none;
}
#teamCard{
  display: none;
}
